apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns-config
data:
  Corefile: |
    .:53 {
        errors
        health
        kubernetes cluster.local in-addr.arpa ip6.arpa {
           pods insecure
           fallthrough in-addr.arpa ip6.arpa
        }
        forward . 10.0.0.1:53  # Single resolver - no failover!
        cache 30
        loop
        reload
        loadbalance
    }
  failover_mode: "DISABLED_MANUAL"  # Failover disabled!
